Source: kodi-game-libretro-smsplus-gx
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-smsplus-gx (>= 1.8.0) | smsplus-gx (>= 1.8.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-smsplus-gx
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Sega - MS/GG (SMS Plus GX) core for kodi's retroplayer
 Sega - MS/GG (SMS Plus GX) core for kodi's retroplayer
